*{
	box-sizing: border-box;
	text-align: center;
	color: #fff;
	margin: auto;
	font-family: 'Syne Mono', monospace;
}

body{
	background-color: #000;
}

#container{
	margin: 100px auto;
	width: 1200px;
	height: 700px;
	border: 2px solid #000;
}

/*
.navbar, .timerApp{
	display: flex;
	justify-content: center;
	align-items: center;
} 
*/
.navbar{
	width: 80%;
	height: 20%;
}

.timerApp{
	width: 80%;
	height: 70%;
	display: none;
	flex-direction: column;
	border-radius: 30px;
	border: 10px solid #0f0;
}

h1{
	color: #f15f;
	font-size: 50px;
}
p{
	font-size: 80px;
}
#stopwatch_pack{
	display: flex;
}
button{
	margin: auto 20px;
	width: 180px;
	height: 50px;
	font-size: 25px;
	cursor: pointer;
	outline: none;
	border: 2px solid #ffd166;
	border-radius: 10px;
	background-color: #00f;
	transition: 0.5s;
}
div>button:active{
	transform: scale(0.8);
}

.navbar>button{
	width: 250px;
	height: 50px;
	font-size: 30px;
	color: #000;
	font-family: 'Syne Tactile', cursive;
	border: 2px solid #f00;
	background-color: #ffd166;
}

#inputBox{
	width: 100px;
 	border-radius: 50%;
	border: 2px solid #ffd166;
	background-color: transparent;
}
label, #inputBox{
	font-size: 25px;
}
#clock_pack>span{
	font-size: 30px;
	color: #00f;
	height: 50px;
}