*{
	margin: 0 auto;
	padding: 0;
	text-align: center;
	box-sizing: border-box;
	transition: 0.5s;
    font-family: 'Merriweather', serif;
}
body{background-color: #000;}
#game-container{
	width: 100vw;
	height: 100vh;
}
#intro-sec, #game-sec, #result-sec{
	width: 100%;
	height: 100%;
}
#intro-sec, #game-sec, #result-sec, #instruction ul, #slider-sec, #timer-sec, #select-section, #select-section>div, .item4, #operations, #operatorsBox, #operatorsBox>div, #ul-list>li, #ul-list>li>span, #result-sec>div{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: space-evenly;
}
/*Gaming section*/
#intro-sec{
	display: flex;
	background-color: #fb8b24;
}
#topic{
	font-size: 50px;
	color: #fff;
	width: 50%;
	padding: 5px;
	border-radius: 20px;
}
#instruction{
	width: 60%;
	height: 50%;
	overflow: hidden;
	position: relative;
}
#instruction ul{
	width: 95%;
	height: 95%;
}
#instruction #instruct2{
	transform: translate(100%, -100%);
}
#instruction ul>li{
	font-size: 25px;
	padding: 30px;
	width: 70%;
	border-radius: 15px;
	list-style-type: none;
}
#instruction ul>li:nth-child(1){
	background-color: #ef233c;
}
#instruction ul>li:nth-child(2){
	color: #fff;
	background-color: green;
}
#instruction ul>li:nth-child(3){
	background-color: #00bbf9;
}
#instruction ul>li:hover{
	transform: scale(1.05);
}
#slide-instructions{
	position: absolute;
	bottom: 0; left: 50%;
	transform: translateX(-50%);
}
input[type="radio"]{display: none;}
#slide-instructions label{
	display: inline-block;
	width: 25px;
	height: 25px;
  	cursor: pointer;
  	color: #fff;
  	line-height: 25px;
  	background-color: #000;
  	border-radius: 50%;
	margin: 10px;
}
#slide-instructions label:active{
	color: #000;
	background-color: #fff;
}
#sec2:checked ~ #instruct2{
	transform: translate(0%, -100%);
}
#motivate{
	font-size: 35px;
	color: #fff;
}
#motivate:hover, #startGame:hover{
	transform: scale(1.1);
	cursor: pointer;
}
#startGame{
	font-size: 30px;
}
/*Gaming section*/
#game-sec{
	display: none; /* game section */
	flex-direction: row;
	color: #fff;
	background: url("mathsbg.jpg") no-repeat;
	background-size: 100% 100%;
}
#banner{
	height: 150px;
}
#operations{
	width: 95%;
	height: 80%;
	flex-direction: row;
}
.item1{width: 30%;height: 20%;}
.item2{width: 30%;height: 20%;}
.item3{width: 80%;height: 50%;}
.item4{width: 30%;height: 30%;}
.item1>div>label {
	padding: 5px;
	font-size: 20px;
}
.item1>div>label>span{
	padding: 5px;
}
.item1>div>input{
	width: 40%;
}
#timer-sec{
	font-size: 20px;
}
#setTimer{
	border: 2px solid #f00;
	width: 110px;
	height: 35px;
	border-radius: 10px;
}
#select-section>div{
	width: 60%;
	flex-direction: row;
}
#operatorsBox{
	display: grid;
	grid-template-columns: auto auto;
	width: 95%;
	height: 80%;
}
#operatorsBox .desc{
	font-size: 20px;
}
#selecth2{font-size: 30px; height: 20%;}
#operatorsBox>div{
	align-content: flex-end;
	width: 30%;
	height: 20%;
	border-radius: 20px;
	position: relative;
	border: 3px solid #9c6644;
}
#operatorsBox>div>label{
	position: absolute;
	left: 10%; top: 50%;
	transform: translateY(-50%);
}
#select-section>div>div{
	padding: 10px;
}
#play-box{
	font-size: 25px;
}
#answers{
	width: 50%;
	font-size: 20px;
}
#answerInput, #answerName{display: none;}
#submitBtn{
	margin-left: 10px;
	width: 80px;
	height: 30px;
	color: #fff;
	border: none;
	outline: none;
	border-radius: 5px;
	background-color: #0ead69;
}

#result-sec{
	display: none;
	color: #fff;
	background-color: #99582a;
}
#appreciate{
	font-size: 30px;
	color: #fff;
	line-height: 150%;
	width: 30%; height: 5%;
	border-radius: 30px;
	background-color: #00a7e1;
}
#ul-list{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 40%;
	height: 60%;
	text-align: left;
	font-size: 20px;
	list-style-type: none;
}
#ul-list>li{
	flex-direction: row;
	width: 100%;
	height: 10%;
	margin: 3%;
	border-radius: 10px;
	color: #fff;
	background-color: #0ead69;
}
#ul-list>li>span{height: 100%;}
#ul-list>li:nth-child(even){
	background-color: #ffb703;
}
#result-sec>div{
	width: 50%;
	height: 30%;
	border-radius: 10px;
	border: 5px solid #f00;
}
#home, #play-again, #startQuiz{
	display: block;
	border: none;
	outline: none;
	height: 13%;
	color: #fff;
	border-radius: 5px;
	background-color: #ee964b;
}
#home{width: 10%;}
#startQuiz, #play-again{width: 15%;}
#result-sec button:active{
	transform: scale(0.8);
}
/*audio section*/
#audio-sec{
	display: none;
}



/* Slider */
.sliderBar {
  -webkit-appearance: none;
  width: 70%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.sliderBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #4CAF50;
  cursor: pointer;
}
.sliderBar::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}


/* toggle check box style */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}