*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  text-align: justify;
}

/* ------------------------
        card style 
---------------------------*/

.card{
  margin: 150px auto;
  width: 450px;
  height: 250px;
  border-radius: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
}
.main, .side, .left, .right{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.main{
  width: 150px;
  height: 250px;
  justify-content: left;
  transition: 0.5s;
  background-color: #E06B61;
  position: absolute;
  top: 0;left: 0;
  z-index: 20;
  flex-wrap: wrap;
  flex-direction: row;
}
.main:hover{
  width: 450px;
  height: 250px;
}

/* ------------------------
    left card style 
---------------------------*/

.left{
  width: 150px;
  height: 200px;
  align-content: space-between;
  flex-direction: column;
  font-size: 7px;
  font-family: 'Kufam', cursive;
  border-right: 1px solid #d3d3d3;
}
.left img{
  width: 100px;
  height: 100px;
  margin: 30px auto;
}
.left img:hover{
  cursor: pointer;
}
.left .level, .points{
  color: #fff;
  padding: 5px;
  border-radius: 15px;
  background-color: #C9635B;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left .level:hover, .points:hover{
  cursor: pointer;
}

/* ------------------------
    right part style 
---------------------------*/

.right{
  width: 0;
  position: absolute;
  bottom: 0;right: 0;
  top: 0;left:150px;
  flex-direction: column;
  opacity: 0;
  font-family: 'Playfair Display', serif;
}
.main:hover .right{
  color: #fff;
  flex-wrap: wrap;
  width: 300px;
  opacity: 1;
}
.right .heading{
  font-size: 30px;
}
.description{
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  font-size: 15px;
  padding: 10px;
  margin: 0px 0px 40px;
}
.text-R{
  margin: 0px;
  text-align: right;
}
.text-L{
  text-align: left;
}

.icon-box{
  display: grid;
  grid-template-columns: 75px 75px 75px 75px;
  justify-content: space-between;
}
.icon .detail{
  font-size: 10px;
}
.icon i{
  font-size: 35px;
}
.icon i:hover{
  cursor: pointer;
}
.icon .number{
  font-size: 25px;
}


/* ------------------------
    side part style 
---------------------------*/


.side{
  width: 300px;
  height: 250px;
  flex-direction: column;
  background-color: #fff;
  position: absolute;
  top: 0;right: 0;
  z-index: 10;
  padding: 20px;
  font-family: 'Unna', serif;

}
.side h1{
  font-size: 35px;
  align-content: space-around;
  margin: 0px;
}
.side .content{
  width: 100%;
  text-align: justify;
  margin: 15px;
  font-size: 18px;
}
.side .footer{
  width: 100%;
  height: 50px;
  margin: 30px auto 0px;
  font-size: 15px;
  text-align: right;
}


/*------------------------------------
             SECOND CARD
-------------------------------------*/

.card2{
  background-color: #60d394;
}

.card2 .main{
  background-color: #60d394;
}

.card2 .main .left h2{
  background-color: #7EA28F; 
}
.card2 .main .right{
  color: #0a1128;
}
