 @import url('https://fonts.googleapis.com/css2?family=Gorditas&family=Merriweather:wght@300&family=Special+Elite&family=Yusei+Magic&display=swap');



*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
	transition: 0.5s;
}
body{
	width: 100vw;
	height: 100vh;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.8);
}
.backgroundClass {
  background-size: 6px 6px !important;
  background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.3) 46%, coral 49%, coral 51%, rgba(0, 0, 0, 0.1) 55%);
  background-color: white;
}
body, #app, .trackTitle, .bottom, .soundBox, .bottom>div, span, .listBox, #lists, .listBox>h1, .li-items > .paras, .homeDiv{
	display: flex;
	justify-content: space-evenly;
	align-content: space-evenly;
	flex-wrap: wrap;
}
#app{
	width: 400px;
	height: 700px;
	background: linear-gradient(to bottom right, #FF512F, #F09819);
	border-radius: 20px;
	position: relative;
}
#menu{
	width: 25px;
	height: 25px;
	font-size: 20px;
	background: transparent;
	position: absolute;
	top: 15px; left: 15px;
}
.listBox{
	width: 70%;
	height: 80%;
	position: absolute;
	top: 10%; left: 15%;
	border-radius: 10px;
	background-color: #0093E9;
	background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
	overflow: auto;
	box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 90px 10px;
	transform: scale(0);
}
.listBox>h1{
	width: 95%;
	font-size: 2em;
	height: 12%;
	border-radius: 5px;
	background: #FF5F6D;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Special Elite', cursive;
}
#lists{
	width: 100%;
	height: 85%;
	overflow: auto;
	list-style-type: none;
	align-content: flex-start;
}
#lists::-webkit-scrollbar { width: 0 !important }
#lists{ scrollbar-width: none; }
#lists{ -ms-overflow-style: none; }
.li-items{
	width: 90%;
	height: 10%;
	margin-top: 5px;
	border-radius: 10px;
	cursor: pointer;
	background-color: #0f0;
    font-family: 'Merriweather', serif;
    overflow: hidden;
}
.li-items > .paras{
	width: 100%;
	height: 100%;
}
.soundBox{
	width: 25px;
	height: 70px;
	position: absolute;
	top: 15px; right: 10px;
	border-radius: 25px;
	font-size: 20px;
	background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
}
.soundBox .sound{
	width: 20px;
	height: 20px;
	border-radius: 50%;
}
.soundBox .sound > i{
	font-size: 15px;
	text-shadow: #FC0 1px 0 10px;
}
.sound > i:active{
	color: #f0f;
	transform: scale(1.5);
}
.trackTitle{
	width: 80%;
	height: 15%;
	color: #fff;
	font-size: 30px;
	overflow: auto;
    font-family: 'Gorditas', cursive;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.homeDiv{
	width: 65%;
	height: 35%;
	height: 250px;
	border-radius: 50%;
	background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
	overflow: hidden;
}
.homeDiv>img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

/* Range bar */

#rangeBar{
	-webkit-appearance: none;
	width: 80%;
	height: 10px;
	border-radius: 5px;
	background-color: rgba(24, 44, 97, 0.3);
	-webkit-transition: 0.2s;
	transition: 0.2s;
}
#rangeBar::-webkit-slider-thumb{
	-webkit-appearance: none;
	height: 12px;
	width: 20px;
	border-radius: 5px;
	border: 0.8px solid rgba(0, 0, 0, 0.5);
	background-color: rgba(252, 66, 123, 0.9);
	cursor: pointer;
}
#rangeBar::-moz-range-thumb{
	width: 20px;
	height: 12px;
	background-color: rgba(252, 66, 123, 1);
	cursor: pointer;
}
#rangeBar::-moz-range-progress{
	border-radius: 5px;
	background-color: rgba(252, 66, 123, 0.9);
	height: 100%;
}
/*#rangeBar::range-progress {
	border-radius: 5px;
	background-color: rgba(252, 66, 123, 0.9);
	height: 10px;
}*/


/* ---   ---   --- */


.bottom{
	width: 90%;
	height: 25%;
	border-radius: 15px;
	font-family: 'Yusei Magic', sans-serif;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.bottom>div{
	width: 90%;
	height: 30%;
	font-size: 25px;
}
.bottom>div>span{
	width: 20%;
	height: 50%;
	color: #fff;
	border-radius: 10px;
}
.bottom > .timeBox{
	width: 80%;
	font-size: 15px;
	justify-content: space-between;
}
button, #rangeBar, .controls{
	border: none;
	outline: none;
	cursor: pointer;
}
button{background: none;}
button:active{
	color: #fff;
	transform: scale(1.3);
}
i{color: #fff;}
i:active{transform: scale(1.3);}


#audioBox{display: none;}
.clickInset{animation: clickInset 0.5s linear;}
.highLight{
	color: #fff;
	background-color: #f0f;
}

@keyframes clickInset{
	0%{transform: scale(1);}
	50%{transform: scale(0.9);}
	100%{transform: scale(1);}
}



/* To make responsive */


@media screen and (max-width: 450px){


#app{
	width: 90%;
	height: 90%;
}
.homeDiv{
	width: 70%;
	height: 35%;
}


}