*{
	margin: 0 auto;
	padding: 0;
	text-align: center;
	box-sizing: border-box;
	border-radius: 10px;
	font-family: 'Langar', cursive;
}
body{
	background-color: #1d3557;
}
.page{
	width: 100vw;
	height: 100vh;
}
.sec, #topic, .subBox, .boxes, .boxes > *{
	display: flex;
	align-content: space-evenly;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.page > *{
	width: 100%;
	height: 100%;
	flex-direction: column;
}
#topic{
	width: 80%;
	height: 5%;
	font-size: 40px;
	background-color: #e9c46a;
}
.subBox{
	width: 90%;
	height: 90%;
	align-items: center;
	background-color: #a5a58d;
}
.boxes{
	width: 15%; 
	height: 50%; 
	border: 2px dashed #000; 
	background-color: #f2cc8f;
	flex-direction: column;
}
.boxes > *{
	width: 90%;
	height: 30%;
	font-size: 25px;
	flex-direction: column;
}
.boxes > * > b{
	width: 50%;
	color: #fff;
	background-color: #000;
	border: 2px solid #fff;
}
.boxes > *:nth-child(1){background-color: #2b9348;}
.boxes > *:nth-child(2){background-color: #3a86ff;}
.boxes > *:nth-child(3){background-color: #ef233c;}
.playground{
	width: 60%;
	height: 95%;
  	background-color: #00b4d8;
  	padding: 10px;
  	font-size: 30px;
}
.gridBox{
	display: grid;
  	grid-template-columns: auto auto auto auto;
  	grid-gap: 10px;
  	justify-items: center;
  	align-items: center;
}
.flexBox{
	display: flex;
	align-content: space-evenly;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.playground>h2, .playground>h1, .playground>button{
	width: 70%;
}
.playground > img{
	width: 50%;
	height: 70%;
}
.playground>button{	background: none;}
.rooms{
	width: 100%;
	height: 100%;
	display: grid;
	justify-items: center;
  	align-items: center;
	background-color: rgba(255, 255, 255, 0.8);
	position: relative;
	background-size: 100% 100%;
	background-position: center;
	border: 3px solid #fff; /* transparent */
}
.rooms>div{
	position: absolute;
	top: 0; left: 0;
	right: 0; bottom: 0;
}
.rooms .front{
	background-color: #e09f3e;
	z-index: 0;
}
.rooms>div>img{
	width: 100%;
	height: 100%;
	cursor: progress; /*move;*/
}
button{
	border: none;
	outline: none;
	color: #fff;
	font-size: 25px;
}
button:hover{cursor: pointer;}
button:active{animation: btnPress 0.2s linear;}


@keyframes btnPress{
	0%{transform: scale(1);}
	50%{transform: scale(0.9);}
	100%{transform: scale(1);}
}


.zoomOut{
	transform: scale(0);
	transition: 0.5s;
}
.zoomIn{
	transform: scale(1);
	transition: 0.5s;
}
.green{background-color: green;}
.red{background-color: red;}
#audios{display: none;}




@media only screen and (max-width: 750px) {


#topic{	font-size: 25px;}
.subBox{ display: block;}
.playground{
	width: 100%;
	height: 70%;
}
.boxes{
	width: 90%;
	height: 15%;
}
.boxes > *{font-size: 15px;}
.boxes > * > b{width: 30%;}
.playground > h2{font-size: 20px;}
.playground > img{
	width: 50%;
	height: 50%;
}


}