*{
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
	transition: 0.3s;
}
body{
	background-color: #984a3c;
	color: #fff;
    font-family: 'Arvo', serif;
}
#beginSec, #beginSec *, .container, .navbar, .label, .spans, #fields, .fieldBoxes, .btns, .btn, #TheEnd, #TheEnd>div, #resultBox{
	width: 70%;
	height: 70%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
#beginSec{
	width: 100vw;
	height: 100vh;
	flex-direction: column;
	background-color: #47fae6;
}
#beginSec *{
	margin: 20px auto;
	height: 150px;
	width: 50vw;
	border-radius: 50px;
	font-size: 50px;
}
#beginSec *:hover{
	transform: scale(0.9);
}
#beginSec>h1{
	background-color: red;
}
#beginSec>h2{
	background-color: green;
}
#beginSec>h3{
	background-color: blue;
}
#beginSec>p{
	color: #000;
	background-color: yellow;
}
.container{
	width: 100vw;
	height: 90vh;
	display: none;
	opacity: 0;
}
#topic{
	width: 30%;
	height: 70px;
	font-size: 40px;
	line-height: 70px;
	background-color: #343872;
	border-radius: 30px;
}
.navbar{
	width: 80%;
	height: 80px;
}
.label{
	font-size: 20px;
	color: #fff;
	width: 200px;
	height: 50px;
	padding-left: 25px;
	border-radius: 30px;
	background-color: #983223;
}
.spans{
	font-size: 25px;
	width: 30%;
	height: 90%;
	border-radius: 30px;
	background-color: #873784;
}
.game-container{
	width: 600px;
	height: 650px;
	border-radius: 25px;
	background-color: #562342;
}
#turns{
	height: 50px;
	line-height: 50px;
}
#fields{
	width: 600px;
	height: 600px;
	background-color: #293432;
}
#resultBox{
	width: 400px;
	height: 400px;
	display: none;
	opacity: 0;
	color: #000;
	font-size: 40px;
	padding: 15px;
	position: absolute;
	top: 50%; left: 50%;
	z-index: 100;
	transform: translate(-50%, -40%);
	background-color: #84a087;
	border-radius: 40px;
	border: 7px solid #f00;
}

#resultBox>button{
	display: inline-block;
}
.fieldBoxes{
	width: 200px;
	height: 200px;
	font-size:80px;
	color: #000;
	cursor: pointer;
	-webkit-text-stroke: 2px #fff;
	border: 1px solid #fff;
}
#btns{
	width: 500px;
    display: none;
}
.btn{
	color: #fff;
	width: 160px;
	height: 40px;
	font-size: 25px;
	outline: none;
	border: none;
	cursor: pointer;
	border-radius: 30px;
    font-family: 'Texturina', serif;
}
.btn:active{
	color: #000;
	transform: scale(1.1);
}
#playAgainBtn{
	font-weight: 1000;
	background-color: green;
}
#newGameBtn{
	font-weight: 1000;
	background-color: red;
}
#continue{
	background-color: brown;
}
#endGame{
	background-color: green;
}
#TheEnd{
	width: 100vw;
	height: 100vh;
	display: none;
	opacity: 0;
	background-color: #48763844;
}
#TheEnd>div{
	width: 70vw;
	height: 70vh;
	flex-direction: column;
}
#TheEnd>div>h1{
	font-size: 50px;
	height: 150px;
}
#TheEnd>div>h2{
	font-size: 35px;
	height: 50px;
}
#TheEnd>div>p{
	font-size: 80px;
	height: 50px;
}

.audios{
	display: none;
}

@media only screen and (max-width: 780px){
#beginSec *{
	width: 80vw;
}
#topic{
	width: 50%;
}

}

@media only screen and (max-width: 450px){
*{
	margin: 0 auto;
}

#beginSec *{
	height: 100px;
	width: 80vw;
	font-size: 25px;
}
#topic{
	width: 90%;
	height: 50px;
	line-height: 50px;
	font-size: 30px;
}
.game-container{
	width: 300px;
	height: 350px;
}
.navbar{
	width: 100%;
	height: 80px;
}
.label{
	width: 150px;
	height: 30px;
	font-size: 15px;
}
.spans{
	font-size: 20px;
}
#fields{
	width: 300px;
	height: 300px;
}
.fieldBoxes{
	width: 100px;
	height: 100px;
	font-size:50px;
}
#resultBox{
	width: 70%;
	height: auto;
	font-size: 25px;
	transform: translate(-50%, -10%);
}
#btns{
	width: 95vw;
}
.btn{
	width: 130px;
	font-size:18px;
}
#TheEnd>div{
	width: 100vw;
	height: 100vh;
}
#TheEnd>div>h1{
	height: 200px;
}

#TheEnd>div>h2{
	height: 150px;
}
}