*{
	margin: 0 auto;
	padding: 0;
	text-align: center;
	box-sizing: border-box;
	color: #fff;
}
body{
	width: 100vw;
	height: 100vh;
	background-color: #c9ada7;
	overflow: hidden;
}

#game_page, .heading, .navbar, .sec_container, .sec, .feedback, .footer, .instructions, .ResultPopUpBox{
	display: flex;
	justify-content: space-evenly;
	align-content: space-evenly;
	flex-wrap: wrap;
}
button{
	font-size: 2em;
	border-radius: 20px;
	border: none;
	outline: none;
}
button:hover{
	cursor: pointer;
	transform: scale(1.05);
}
#game_page{
	width: 100%;
	height: 100%;
}
.heading{
	width: 80%;
	height: 10%;
	font-size: 2.5em;
	background-color: #30638e;
	border-radius: 10px;
}
.miniContainer{
	width: 80%;
	height: 80%;
}
.navbar{
	width: 80%;
	height: 7%;
	border-radius:  20px 20px 0px 0px;
}
.navBtns{
	width: 23%;
	height: 100%;
	border-radius:  20px 20px 0px 0px;
	background-color: #4361ee;
}
.navBtns:nth-child(1), .section1{background-color: #f94144;}
.navBtns:nth-child(2), .section2{background-color: #27a300;}
.navBtns:nth-child(3), .section3{background-color: #00bbf9;}
.navBtns:nth-child(4), .section4{background-color: #e36414;}

.sec_container{
	width: 100%;
	height: 93%;
	background-color: #00bbf9;
	border-radius: 20px;
	overflow: hidden;
}
.sec_container .sec{
	width: 100%;
	height: 100%;
	display: none;
	position: relative;
}
.sec:nth-child(1){display: flex;}

.footer{
	width: 60%;
	height: 5%;
}
.bottomBtns{
	width: 25%;
	height: 100%;
	background-color: #000;
}
.sec1src{
	width: 80%;
	padding: 10px;
	border-radius: 10px;
	background-color: #bb9457;
}
.trySpans{
	padding: 2px;
	font-size: 2em;
	border-radius: 5px;
}
.msgBox1{
	font-size: 3em;
	border-radius: 20px;
	background-color: #00bbf9;
}

.section1{flex-direction: column; font-family: 'Langar', cursive;}
.section1 .instructions:hover{transform: scale(0.95); border: 2px dashed #fff;}
.section1 .instructions{width: 90%; height: 18%;font-size: 2.5em;border-radius: 15px;}
.section1 .instructions:nth-child(1){background-color: #fcbf49; color: #000;}
.section1 .instructions:nth-child(2){background-color: #0077b6;}
.section1 .instructions:nth-child(3){background-color: #006d77;}
.section1 .instructions:nth-child(4){background-color: #2b9348;}

.section2 > *, .section3 > *{width: 80%;}
.section2 .sec2h2{font-size: 30px; color: #000;}
.msgBox1{width: 30%;}
/*.section2{
	background: url("typeWriting.webp") no-repeat; 
	background-size: 100% 100%; 
	background-position: center;
}*/

.section3 > h2{font-size: 2em; color: #000;}
.section3 .title{background-color: #1d3557; border-radius: 10px;}
.section3 .questionBox{font-size: 1em; background-color: #cb997e; padding: 20px; border-radius: 20px;}
.section3 .feedback>div{width:20%; background-color: #1d3557; padding: 10px; border-radius: 10px;}
.section3 .feedback>div>p{background-color: #f77f00; padding: 5px; border-radius: 20px; width: 80%}
.section3 .feedback>div>p>span{font-size: 30px;}

.section4>img{width: 80%; height: 80%; border-radius: 20px;}
.section4>h2{font-size: 2em; background-color: #0077b6; border-radius: 10px; padding: 10px;}

.ResultPopUpBox{
	width: 40%;
	height: 60%;
	position: absolute;
	z-index: 1000;
	top: 20%; left: 30%;
	background-color: #55a630;
	border: 5px dashed #000;
	border-radius: 20px;
	transition: 0.5s;
	transform: scale(0);
	font-family: 'Langar', cursive;
}
.ResultPopUpBox *{width: 70%;}
.ResultPopUpBox>h1{font-size: 3em;}
.ResultPopUpBox>p{font-size: 1.5em; width: 75%;}
.ResultPopUpBox button{width: 30%; background-color: #9c6644;}
.ResultPopUpBox #playAgainTime{font-size: 2em;}
.zoomView{transform: scale(1);}



@media only screen and (max-width: 700px){

.heading{font-size: 1.8em;}
button{font-size: 1em; border-radius: 10px;}
.navbar{height: 4%; width: 90%;}
.navBtns{font-size: 0.7em;border-radius:  10px 10px 0px 0px}

.trySpans{padding: 2px;font-size: 1.5em;border-radius: 2px;}

.ResultPopUpBox{width: 70%; left: 15%;}
.ResultPopUpBox *{width: 90%;}
.ResultPopUpBox button{width: 50%;}

.section1 .instructions{font-size: 1.3em;}

.msgBox1{width: 80%; font-size: 2em;}

.section3 > h2{font-size: 1em;}
.section3 .questionBox{font-size: 0.5em;padding: 5px; border-radius: 10px; width: 95%;}
.section3 .feedback>div{width:40%; font-size: 0.5em; padding: 0px;}
.section3 .feedback>div>p{width: 50%; padding: 0px;}
.section3 .feedback>div>p>span{font-size: 20px;}

.section4>img{width: 90%; height: 60%; border-radius: 10px;}
.section4>h2{font-size: 1em; width: 80%;}

.restart{width: 40%;}

}